@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}

body{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: black;
    width: 100dvw;
    height: 100dvh;
}

header{
    padding: 30px;
}

header > section{
    display: flex;
    gap: 10px   ;
    flex-flow: column nowrap;
}

header p{
    font-size: .7rem;
    color: grey;
}


main section#texto{
    padding: 10px 30px 10px 30px;
}

main section#texto h2{
    font-size: 1rem;
}

main section#texto p{
    font-size: .8rem;
}


section#logo{
    display: flex;
    justify-content: center;
    padding: 20px;
}

main{
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    align-items: center;
    max-width: 600px;
    height: 66dvh;
}

main section#blocos{
    display: flex;
    flex-flow: row nowrap;

    width: 90dvw;
    max-width: 560px;
    justify-content: space-around;
    align-items: center;
}


input.numberUsuario{
    font-size: 20px;
}

#buttonRepeat{
    display: flex;
    width: 90dvw;
    max-width: 560px;

    gap: 10px;
}

div.blocoInput{
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
    gap: 5px;

    p{
        text-align: center;
    }
}

div.blocoInput input {
    width: 60px;
    height: 40px;
    background-color: rgb(17, 17, 17);
    border-radius: 10px;
    text-align: center;
}


div.button input{
    background-color: rgb(61, 61, 61);
    padding: 10px;
    border-radius: 10px;
    width: 80dvw;
    max-width: 560px;
}

div.button input:hover{
    background-color: rgb(17, 17, 17);
    cursor: pointer;
}

input#repetir {
    display: none;
}

div#res{

    width: 90dvw;
    max-width: 560px;
    height: 20dvh;

    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

div.aleatorio{
    margin-right: 15px;
    font-weight: bold;
    text-align: center;
    color: blueviolet;
    text-shadow: 0px 0px 10px rgba(137, 43, 226, 0.377);
    font-size: 20px;
    width: 30px;
    height: 30px;
}
